/*
written by praetoriani
https://github.com/praetoriani/Web-Components
*/

.PopupContainer {
    visibility: hidden;
    display: grid;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 16px;
    color: #000000;
    z-index: 9999;
}

.PopupBox {
    position: absolute;
    top: calc((100% - 200px) / 2);
    left: calc((100% - 320px) / 2);
    width: 320px;
    height: 200px;
    overflow: hidden;
    background-color: rgba(245, 245, 245, 1.0); 
    border: 2px solid rgba(51, 51, 51, 0.8);
    border-radius: 16px;
    padding: 0px;
    margin: 0px;
    box-shadow: 4px 8px 12px 6px rgba(51, 51, 51, 0.8);
}

.ContentTable {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.PopupHead {
    width: 100%;
    height: 46px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px dashed #333333aa;
    font-weight: 600;
    font-size: 16px;
}

.PopupBody {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
}

.PopupFoot {
    width: 100%;
    height: 44px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
    background-color: #D5D5D5CC;
    border-top: 1px dashed #333333aa;
    cursor: pointer;
    transition: background-color 0.4s ease;
    font-size: 14px;
}

.PopupFoot:hover {
    background-color: #B5B5B5CC;
}


/*
########################################################################################################################################################################################################
FOLLOWING CODE IS ONLY FOR THE PREVIEW-CONTAINER AND HAS NOTHING TO DO WITH THE COMPONENT ITSELF!
########################################################################################################################################################################################################
*/

/* Import Roboto from fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap');

.RobotoNormal400 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.WebComponentPreviewTable {
    width: 100%; height: 100%; margin: 0px; padding: 0px; border-collapse: collapse;
}
.WebComponentPreviewTCellContent {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
}
.WebComponentPreviewTCellOptions {
    width: 100%;
    height: 28px;
    text-align: center;
    vertical-align: middle;
    background-color: #303030;
    color: #EFEFEF;
}
.WebComponentPreviewTCellOptions:hover {
    cursor: pointer;
    background-color: #636363;
}

.WebComponentPreview {
    width: 800px;
    height: calc(100vh - 28vh);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: none;
    border: 2px solid rgba(51, 51, 51, 0.8);
    border-radius: 16px;
    overflow-x: hidden;
    overflow-y: hidden;
    scrollbar-width: 0px;
    scrollbar-color: none;
    visibility: visible;
}
.WebComponentPreview::-webkit-scrollbar {overflow: hidden; width: 0px; background-color: none; }

.WebComponentDemoPreview {
    width: 100%;
    height: calc(100% - 28px);
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: none;
    visibility: visible;
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: 0px;
    scrollbar-color: none;
    z-index: 1000;
}
.WebComponentHTMLPreview::-webkit-scrollbar {overflow: hidden; width: 0px; background-color: none; }
